<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/starburst997/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="starburst997" />
      <add key="ClearTextPassword" value="21e9bb1eb95e02a7f882e119757bc93f84d6492e" /> <!-- Public Access Token -->
    </github>
  </packageSourceCredentials>
</configuration>